<!--  navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Store Home", store_path, class: "navbar-brand"%>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <!--  nav here -->
       <% if user_signed_in? %>
         <li> <%= link_to("Signed in as #{current_user.try(:email)}", store_path, class: "navbar-brand") %></li>
         <li><%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "navbar-brand") %></li>
       <% else %>
         <li> <%= link_to("Sign up", new_user_registration_path, class: "navbar-brand") %></li>
         <li> <%= link_to("sign in", new_user_session_path, class: "navbar-brand") unless user_signed_in? %></li>
       <% end %>
       <li> <%= link_to("Cart", cart_path(current_user.current_cart.id), class: "navbar-brand") unless current_user.try(:current_cart).nil? %></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

